nav {
  border-bottom: 0.25em solid var(--warning);
}

footer {
  border-top: 0.25em solid var(--warning);
}

footer .circle-icons {
  padding: 0.5em;
  margin: 0.25em;
  border-radius: 50%;
  background: var(--light);
  color: var(--dark);
}

footer .circle-icons:hover {
  background-color: var(--warning);
}

i.fab, i.fas {
  width: 18px;
  height: 18px;
}